@tailwind base;
@tailwind components;
@tailwind utilities;

.welcome-btn-container {
    @apply transition-transform duration-300 hover:translate-x-2
}

.welcome-btn {
    @apply p-1 relative hover:after:scale-100 after:content-[''] after:h-0 after:w-full after:absolute after:scale-0 after:left-0 after:top-[calc(100%)] after:z-10 after:border after:opacity-90 after:border-black normal:after:border-white after:transition-transform after:duration-500
}

.btn {
    @apply my-1 bg-purple-700 text-white py-1 px-2 border-2 border-white rounded-md transition-all duration-500 hover:bg-white hover:text-purple-700 hover:border-purple-700
}

.center {
    @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
}

.password-icon {
    @apply absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 hover:bg-gray-100 rounded-full p-1 box-content
}

.button-animation {
    @apply border-transparent text-white bg-purple-600 hover:bg-purple-700 transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-600
}

.markdown {
    @apply prose-sm leading-5 prose-p:my-0 prose-a:font-semibold prose-a:text-[#0366d6] prose-pre:bg-[#f3f4f4] prose-code:bg-[#f3f4f4] prose-table:border prose-table:border-[#d8d8d8] prose-table:border-collapse prose-th:border prose-table:w-[99%] prose-table:table-fixed prose-th:border-[#d8d8d8] prose-th:text-center prose-th:p-2 prose-td:border prose-td:border-[#d8d8d8] prose-td:p-2 prose-code:px-1 prose-code:py-0.5 prose-code:border-r-2 prose-ul:my-0 prose-li:my-0 prose-li:list-disc prose-li:text-left
}

* {
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 2.5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(128, 128, 128, 0.75);
}