@tailwind base;
@tailwind components;

.welcome-btn-container {
    @apply transition-transform duration-300 hover:translate-x-2
}

.welcome-btn {
    @apply p-1 relative hover:after:scale-100 after:content-[''] after:h-0 after:w-full after:absolute after:scale-0 after:left-0 after:top-[calc(100%)] after:z-10 after:border after:opacity-90 after:border-black normal:after:border-white after:transition-transform after:duration-500
}

.btn {
    @apply my-1 bg-purple-700 text-white py-1 px-2 border-2 border-white rounded-md transition-all duration-500 hover:bg-white hover:text-purple-700 hover:border-purple-700 text-sm
}

.center {
    @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
}

.password-icon {
    @apply absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 hover:bg-gray-100 rounded-full p-1 box-content
}

.button-animation {
    @apply border-transparent text-white bg-purple-600 hover:bg-purple-700 transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-600
}

.markdown {
    @apply prose text-sm leading-5 *:w-max *:max-w-full *:my-0 prose-pre:w-full prose-th:border prose-table:w-full prose-table:table-fixed prose-th:p-2 prose-td:border prose-td:p-2 prose-li:my-0
}

.share-markdown {
    @apply prose max-w-[90vw] overflow-x-scroll whitespace-pre-wrap break-words leading-snug *:my-0 *:w-max *:max-w-full prose-headings:my-1 prose-pre:w-full prose-li:my-0 prose-table:w-full prose-table:table-fixed prose-th:border prose-th:p-2 prose-td:border prose-td:p-2
}

* {
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 2.5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(128, 128, 128, 0.75);
}

@tailwind utilities;